.advertising {
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;

    &__heading {
        font-size: 5rem;
        font-weight: 800;
        color: $primary-color;

        @include breakpoints(992px) {
            font-size: 3rem;
        }

        @include breakpoints(768px) {
            font-size: 2rem;
        }
    }

    &__paragraph {
        margin-top: 20px;
        font-weight: 600;
        font-size: 2rem;

        @include breakpoints(768px) {
            font-size: 1.4rem
        }

        @include breakpoints(576px) {
            font-size: 1rem
        }
    }

    &__exam {
        @include flex(space-around, center, row wrap);

        h5 {
            font-size: 1.5rem;
            margin-top: 20px;

            @include breakpoints(576px) {
                font-size: 1.2rem
            }
        }

        p {
            font-weight: 700;
        }
    }

    &__link {
        @include btn(transparent, $primary-color);
        color: $primary-color;
        margin-top: 20px;
    }
}